.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 2%;
  background-color: inherit;
}

.rotate {
  margin-right: 5%;
  color: #a5a594;
}

.title {
  margin-left: 5%;
  color: #000;
}